* {
    font-family: 'Courier New', Courier, monospace;
    color: lightskyblue;
    background-color: black;
}

.row {
    border: 1px solid grey;
    margin: 10px 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.mid-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
    margin: auto;
}

.right-section {
    width:  20%;
}

.company, .position {
    font-size: 18px;
}

.location {
    font-size: 12px;
    border: 1px solid grey;
}

.tag {
    margin: 5px;
    border: 1px solid grey;
    padding: 2px;
    text-transform: uppercase;
    transition: all .35s ease-out;
}

.tag:hover {
    opacity: 50%;
    transition: all .35s ease-in;
    cursor: pointer;
}

.left-section, .mid-section {
    width: 33%;
}